input, select{
    border: 1px solid grey;
    border-radius: 0;
    background-color: white;
}


.span{
    padding: 5px 0px;
    display: flex;
}

span>div{
    margin-right: 30px;
}

span>div>input{
    margin-right: 5px;
}

.actions{
    display: flex;
    padding: 5px 50px;
    background-color: #d3d3d3;
}

/* .buttonRef, .buttonSave{
    padding: 5px 8px;
    border: none;
    border-radius: 0;
    color: white;
    margin: 0px 5px;
}

.buttonRef{
    background-color: green;
}

.buttonSave{
    background-color: #F58329;
} */

.formContainer{
    width: 100%;
    border: 1px solid #ef9b1b;
    margin-bottom: 15px;
}

.formContainer>p{
    padding: 8px;
    background-color: #ef9b1b;
    display: flex;
    color: white;
}

.formContainer>div{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 12% 20% 12% 20% 12% 20%;
    text-align: right;
    grid-gap: 10px;
}

.formContainer>div>input, .formContainer>div>select{
    padding: 3px 5px;
    width: 100%;
}

.formContainer>div>span{
    display: flex;
    padding: 2px 0px;
    align-items: flex-start;
}

.formContainer>p>input{
    margin-right: 5px;
}

.formContainer>p>span{
    margin-left: 50px;
    display: flex;
}

.formContainer>p>span>input{
    margin-right: 5px;
}

.formContainer>span{
    display: flex;
    padding: 20px;
    width: 80%;
}

.formContainer>span>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.formContainer>span>div>input{
    width: 120px;
    padding: 5px;
}

.formContainer>span>button{
    height: 30px;
    padding: 0px 10px;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.buttonRef, .buttonSave{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    border: none;
    border-radius: 0;
    color: white;
    margin: 0px 5px;
    background-color:#F58329;
}

.buttonSave{
    background-color: green;
}

.weightTable{
    width: 100%;
}

@media (max-width: 768px) {
    .formContainer>div{
        grid-template-columns: 40% 60%;
    }

    .formContainer>span{
        flex-direction: column;
        width: 100%;
        /* padding: 10px; */
    }

    .formContainer>span>div{
        width: 100%;
        padding: 5px;
    }

    .formContainer>span>div>input{
        width: 100%;
    }
    .formContainer>span>div textarea{
        width: 100%;
    }
}