input, select{
    border: 1px solid grey;
    border-radius: 0;
    background-color: white;
}

.actions{
    padding: 5px 50px;
    background-color: #d3d3d3;
    margin-bottom: 15px;
}

.actions>button{
    padding: 5px 8px;
    border: none;
    border-radius: 0;
    color: white;
    margin: 0px 5px;
}


.formContainer{
    width: 100%;
    border: 1px solid #ef9b1b;
    margin-bottom: 15px;
}

.formContainer>p, .permissionsBlock>p{
    padding: 8px;
    background-color: #ef9b1b;
    color: white;
}

.formContainer>div{
    padding: 20px;
    display: grid;
    grid-template-columns: 15% 25% 15% 25%;
    grid-gap: 10px;
    text-align: right;
}

.formContainer>div>span>input{
    padding: 3px 5px;
}

.formContainer>div>span{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formContainer>div>span>div>span{
    display: flex;
    gap: 10px;
}
.formContainer>div>span>div{
    display: flex;
    gap: 25px;
}

.formContainer>div>textarea{
    padding: 3px 5px;
    font-size: 15px;
}

.formContainer>div>p{
    display: flex;
    justify-content: flex-start;
}

.formContainer>div>select{
    padding: 3px 5px;
}

.formContainer>div>input{
    padding: 3px 5px;
}

.buttonChk{
    background-color: green;
}

.buttonRef{
    background-color:#F58329;
}

.buttonExp{
    background-color:grey;
}

.permissionsBlock{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid #ef9b1b;
    column-gap: 50px;
    max-height: 500px;
    overflow: hidden;
}

.permissionsBlock>div{
    max-height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    overflow: auto;
}

.branchComp{
    padding: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
    background-color: #F58329;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: white;
}

.accordian{
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.accordianTitle{
    width: 100%;
    padding: 10px;
    background-color: #F58329;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    color: white;
}

.dropdownBtn{
    position: absolute;
    right: 20px;
    color: white;
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px;
}

.dropdown>div{
    padding-inline: 20px;
    padding-block: 8px;
    background-color: whitesmoke;
    border-radius: 4px;
    display: flex;
    gap: 20px;
}

.accessTitle{
    background-color: #ef9b1b;
    padding: 10px;
    color: white;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}

@media (max-width: 768px) {
    .formContainer>div{
        grid-template-columns: 40% 60%;
    }
    .permissionsBlock{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .permissionsBlock>div{
        border: 1px solid black;
    }

    .branchComp{
        background-color: whitesmoke;
        color: black;
    }
}