.container{
    width: 230px;
    height: 100%;
    background-color: #808080;
    overflow: auto;
    scrollbar-width: none;
}

.d_item{
    padding: 10px 20px;
    background-color: #494949;
    color: white;   
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(141, 139, 139);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.ds_item{
    background-color: rgb(112, 112, 111);
    padding: 5px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(202, 200, 200);
    text-decoration: none;
    color: white;
}

.ds_item:hover{
    background-color: orange;
    color: white;
}

.ds_item>span{
    width: 100%;
    padding: 5px 20px;
    border-left: 1px dashed white;
    border-bottom: 1px dashed white;
}

a{
    text-decoration: none;
}

