<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docket booked</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            box-sizing: border-box;
        }
        body{
            width: 100%;
        }
    </style>
  </head>
  <body>
    <h3>Dear customer,</h3>

    <p>
      We are pleased to inform you that your Packet has been successfully booked
      with us. Below are the details:
    </p>
    <p style="font-weight: 700;">Docket Number: <%= docketNumber %></h3></p>
    <p style="font-weight: 700;">Current Status: <%= status %></h3></p>

    <p>
      Please keep this email for your records. Your docket number
      <strong><%= docketNumber %></strong>, will be essential for tracking your
      parcel throughout its journey with us.
    </p>

    <p>Visit our website to track your Packet. Click <a href="https://safedispatchlogistics.com/track">safedispatchlogistics.com/track</a></p>

    <p>
      If you have any questions or need further assistance, please don't
      hesitate to contact our customer support at <strong>+91 8570973368</strong>.
    </p>

    <p>
      Thank you for choosing <strong>Safe Dispatch Logistics</strong> for your
      shipping needs. We look forward to serving you!
    </p>

    <p>Best regards,</p>
    <p style="font-weight: 700;">Safe Dispatch Logistics.</p> 
    <a href="tel:+918570973368"><p style="font-weight: 700;">+91 8570973367</p></a>
  </body>
</html>
