.container {
  /* display: flex; */
  padding: 2em 3em 2.5em 3em;
  background-color: rgb(250, 250, 250);
}

.girlImage {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  gap: 2em;
  justify-content: center;
  width: 100%;
}
@media (max-width: 768px) {
  .girlImage {
    display: none;
  }

  .container {
    padding: 0;
    /* flex-direction: column; */
  }

  .container>h1{
    padding: 10px;
  }

  .content{
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .contactForm{
    width: 100%;
  }
}
